# requirements.txt

nbconvert==6.2.0
nbformat==5.1.3

# Markdown syntax guide

# To learn how to write Markdown, visit:
# https://www.markdownguide.org/basic-syntax/

# Markdown editors

# If you want to use a Markdown editor, we recommend one of the following:
# - Typora: https://typora.io/
# - Visual Studio Code with the Markdown All in One extension: https://code.visualstudio.com/
# - Atom with the Markdown Preview Plus package: https://atom.io/packages/markdown-preview-plus

# Markdown viewers

# If you want to view Markdown files without converting them, we recommend one of the following:
# - grip: https://github.com/joeyespo/grip
# - Mark Text: https://marktext.app/
# - Zettlr: https://www.zettlr.com/

# README.md

# Convert Jupyter Notebooks and Markdown Files

This script allows you to convert Jupyter notebooks and Markdown files back and forth between each other. It uses the `nbconvert` and `nbformat` packages to handle the conversion.

## Usage

To use the script, you must have Python 3 and the required packages installed. You can install the required packages by running:
pip install -r requirements.txt


This command will install all the required packages listed in the requirements.txt file. Once you have installed the required packages, you can run the script by executing the following command:

python convert.py

This command will execute the convert.py script and convert the input file to the desired output format based on the file extension.
